version: "3" # Version of docker-compose

services:
  redis-server:
    build: ../redis_server
    image: redis-server-image:latest
    container_name: redis-server-container
    hostname: redis-server
    restart: "no"
    ports:
      - "6380:6379"

  worker:
    build:
      context: ../worker
      dockerfile: docker_files/dev.Dockerfile
    image: worker-image:latest
    container_name: worker-container
    hostname: worker
    restart: "no"
    environment:
      - REDIS_SERVER_HOST=redis-server
      - REDIS_SERVER_PORT=6379
    volumes:
      - ../worker/index.js:/developer/projects/worker/index.js
    depends_on:
      - redis-server

  postgres-server:
    build: ../postgres_server
    image: postgres-server-image:latest
    container_name: postgres-server-container
    hostname: postgres-server
    restart: "no"
    environment:
      POSTGRES_USER: backend
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fib
    # expose:
    #   - 5432
    ports:
      - "5433:5432"

  backend:
    build:
      context: ../backend
      dockerfile: docker_files/dev.Dockerfile
    image: backend-image:latest
    container_name: backend-container
    hostname: backend
    restart: "no"
    environment:
      - APP_PORT=5000

      - POSTGRES_HOST=postgres-server
      - POSTGRES_PORT=5432
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fib

      - REDIS_SERVER_HOST=redis-server
      - REDIS_SERVER_PORT=6379
    ports:
      - "5000:5000"
    volumes:
      - ../backend/index.js:/developer/projects/backend/index.js
    depends_on:
      - postgres-server
      - redis-server

  frontend:
    build:
      context: ../frontend
      dockerfile: docker_files/dev.Dockerfile
    image: frontend-image:latest
    container_name: frontend-container
    hostname: frontend
    restart: "no"
    environment:
      - WDS_SOCKET_PORT=0
      - WDS_SOCKET_PATH=/fibonacci/ws # Webpack Dev Server (WDS) Bug: Hot reloading (automatic reloading in browser when react code changes while debugging) feature not working with custom url. Default url '/ws' works correctly without any error.

      - BACKEND_HOST=backend
      - BACKEND_PORT=5000
    ports:
      - "3000:3000"
    volumes:
      - ../frontend/public/:/developer/projects/frontend/public/
      - ../frontend/src/:/developer/projects/frontend/src/
    depends_on:
      - backend

  reverse_proxy:
    build:
      context: ../reverse_proxy
      dockerfile: docker_files/dev.Dockerfile
    image: reverse-proxy-image:latest
    container_name: reverse-proxy-container
    hostname: reverse_proxy
    restart: "no"
    environment:
      - BACKEND_HOST=backend
      - BACKEND_PORT=5000

      - FRONTEND_HOST=frontend
      - FRONTEND_PORT=3000
    ports:
      - "8080:80"
    depends_on:
      - backend
      - frontend
