version: "3" # Version of docker-compose

services:
  redis-server-dev:
    build: ../redis_server
    image: redis-server-image:dev
    container_name: redis-server-container-dev
    hostname: redis-server-dev
    restart: "no"
    ports:
      - "6380:6379"

  worker-dev:
    build:
      context: ../worker
      dockerfile: docker_files/dev.Dockerfile
    image: worker-image:dev
    container_name: worker-container-dev
    hostname: worker-dev
    restart: "no"
    environment:
      - REDIS_SERVER_HOST=redis-server-dev
      - REDIS_SERVER_PORT=6379
    volumes:
      - ../worker/index.js:/developer/projects/worker/index.js
    depends_on:
      - redis-server-dev

  postgres-server-dev:
    build: ../postgres_server
    image: postgres-server-image:dev
    container_name: postgres-server-container-dev
    hostname: postgres-server-dev
    restart: "no"
    environment:
      POSTGRES_USER: backend
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fib
    # expose:
    #   - 5432
    ports:
      - "5433:5432"

  backend-dev:
    build:
      context: ../backend
      dockerfile: docker_files/dev.Dockerfile
    image: backend-image:dev
    container_name: backend-container-dev
    hostname: backend-dev
    restart: "no"
    environment:
      - APP_PORT=5000

      - POSTGRES_HOST=postgres-server-dev
      - POSTGRES_PORT=5432
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fib

      - REDIS_SERVER_HOST=redis-server-dev
      - REDIS_SERVER_PORT=6379
    ports:
      - "5000:5000"
    volumes:
      - ../backend/index.js:/developer/projects/backend/index.js
    depends_on:
      - postgres-server-dev
      - redis-server-dev

  frontend-dev:
    build:
      context: ../frontend
      dockerfile: docker_files/dev.Dockerfile
    image: frontend-image:dev
    container_name: frontend-container-dev
    hostname: frontend-dev
    restart: "no"
    environment:
      - WDS_SOCKET_PORT=0
      - WDS_SOCKET_PATH=/fibonacci/ws # Webpack Dev Server (WDS) Bug: Hot reloading (automatic reloading in browser when react code changes while debugging) feature not working with custom url. Default url '/ws' works correctly without any error.

      - BACKEND_HOST=backend-dev
      - BACKEND_PORT=5000
    ports:
      - "3000:3000"
    volumes:
      - ../frontend/public/:/developer/projects/frontend/public/
      - ../frontend/src/:/developer/projects/frontend/src/
    depends_on:
      - backend-dev

  reverse_proxy-dev:
    build:
      context: ../reverse_proxy
      dockerfile: docker_files/dev.Dockerfile
    image: reverse-proxy-image:dev
    container_name: reverse-proxy-container-dev
    hostname: reverse_proxy-dev
    restart: "no"
    environment:
      - BACKEND_HOST=backend-dev
      - BACKEND_PORT=5000

      - FRONTEND_HOST=frontend-dev
      - FRONTEND_PORT=3000
    ports:
      - "8080:80"
    depends_on:
      - backend-dev
      - frontend-dev
